* {
    font-family: 'Ubuntu', sans-serif;
    margin: auto;
}

body {
    font-size: 100%;
    color: #E5E5E5;
}

/* ------------------------------ Header (copiar para todas as paginas) ------------------------------ */
.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    background: #2E948A;
    width: 100%;
    box-shadow: 0px 3px 7px rgba(0, 0, 0, 0.25);
}

.header a {
    text-decoration: none;
}

/* logo */
.dindin {
    width: 244px;
    height: 77px;
    margin-left: 82px;
    margin-top: 20px;
    margin-bottom: 26px;
}

/* curso blog contato */
.menu {
    display: grid;
    grid-template-columns: auto auto auto;
    margin: 0px;
}

.contato {
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    margin: 10px;
    text-transform: uppercase;
    color: #FDFDFD;
}

#contato-id {
    margin-right: 93px;
}

/* ------------------------------ Banner ------------------------------ */
.conteudo-principal {
    display: grid;
    grid-template-columns: auto auto;
}

.conteudo-principal-escrito {
    margin-left: 206px;
    margin-top: 125px;
}

.Educação-Fianceira-é-tudo-de-bom {
    width: 488px;
    height: 216px;
    margin: 0px;
    font-weight: 700;
    font-size: 60px;
    line-height: 69px;
    color: #FF4081;
}

.Vem-comigo-que-te-mostro-por-onde-começar {
    width: 462px;
    height: 62px;
    margin-left: 1px;
    font-weight: 400;
    font-size: 27px;
    line-height: 31px;
    color: #555555;
}

.quero-saber-mais {
    box-sizing: border-box;
    width: 268px;
    height: 51px;
    border: 2px solid #FF4081;
    border-radius: 62px;
    font-weight: 400;
    font-size: 27px;
    line-height: 31px;
    color: #FF4081;
}

.ilustra-banner {
    width: 501px;
    height: 511px;
    margin-top: 135px;
    margin-right: 206px;
    margin-left: 39px;
    margin-bottom: 65px;
}

/* ------------------------------ Curos ------------------------------ */
.cursos-conteiner {
    display: grid;
    grid-template-columns: auto auto auto;
    background-color: #F7F7F7;
}

.cursos {
    max-width: 344px;
    padding: 15%;
}

.cursos p1 {
    color: #000;
}

#imagem1 {
    width: 288px;
    height: 270px;
}

#imagem2 {
    width: 238px;
    height: 270px;
}

#imagem3 {
    width: 187px;
    height: 270px;
}

.titulo {
    width: 344px;
    height: 29px;
    font-weight: 700;
    font-size: 25px;
    line-height: 29px;
    text-align: center;
    color: #FF4081;
    margin-bottom: 25px;
    margin-top: 45px;
}

.botao-comecar {
    width: 233px;
    height: 51px;
    background-color: #FF4081;
    border-radius: 62px;
    border-color: #FF4081;
    font-weight: 400;
    font-size: 18px;
    color: #ffffff;
    margin-top: 25px;
    margin-left: 40px;
}

/* ------------------------------ O que falam sobre nós ------------------------------ */

h1 {
    color: #009688;
    margin-left: 3%;
    margin-top: 5%;
}

.falam-sobre {
    display: grid;
    grid-template-columns: auto auto auto auto;
    margin: 3%;
    row-gap: 55px;
    column-gap: 10px;
    color: #000;
    margin-bottom: 5%;
}

.falam-sobre p {
    width: 50%;
    margin-left: 0px;
}

/* ------------------------------ Blog ------------------------------ */
.container-blog {
    background-color: #F7F7F7;
    padding-top: 1%;
    padding-bottom: 5%;
}

.blog {
    display: grid;
    grid-template-columns: auto auto auto;
    margin-left: 3%;
}

.blog h2 {
    color: #009688;
    font-size: 25px;
}

.blog p {
    color: #000;
    width: 50%;
    margin-left: 0px;
}

.img-porco {
    width: 319px;
    margin-bottom: 5px;
}

#ver-posts {
    margin-top: 4%;
    box-sizing: border-box;
    width: 250px;
    height: 45px;
    border: 2px solid #FF4081;
    border-radius: 62px;
    font-weight: 400;
    font-size: 19px;
    line-height: 31px;
    color: #FF4081;
    margin-left: 40%;
}

/* ------------------------------ Footer (copiar para todas as paginas) ------------------------------ */
.logo {grid-area: logo;}
.curso {grid-area: curso;}
.btn {grid-area: btn;}

.container-footer {
    display: grid;
    grid-template-areas: 'logo curso btn';
    background-color: #2E948A;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #FFff;
}

.btn-footer {
    box-sizing: border-box;
    width: 250px;
    height: 40px;
    border: 2px solid #FFff;
    border-radius: 62px;
    font-weight: 400;
    font-size: 19px;
    line-height: 31px;
    color: #FFff;
    background-color: #009688;
    margin-top: 10px;
}

.curso {
    font-size: 20px;
}

/* ------------------------------ Responsividade ------------------------------ */

@media only screen and (max-width: 850px) {
    .ilustra-banner {
        display: none;
    }

    .quero-saber-mais {
        margin-bottom: 15%;
    }

    .cursos-conteiner {
        grid-template-columns: auto auto;
    }

    .blog {
        grid-template-columns: auto auto;
    }

    #ver-posts {
        margin-left: 35%;
    }
}

@media only screen and (max-width: 480px) {
/* ------ Inicio header usar em todas as paginas ------ */
    .dindin {
        width: 200px;
        height: 70px;
    }

    .menu {
        grid-template-columns: auto;
    }

    .contato {
        margin: 3px;
        margin-left: 60px;
    }
/* ------ Fim header usar em todas as paginas ------ */

    .conteudo-principal-escrito {
        margin-left: 3%;
    }

    .Educação-Fianceira-é-tudo-de-bom {
        font-size: 40px;
        white-space: pre;
        margin-bottom: -15%;
    }

    .Vem-comigo-que-te-mostro-por-onde-começar {
        font-size: 28px;
        white-space: pre;
        margin-bottom: 10%;
    }

    .cursos-conteiner {
        grid-template-columns: auto;
    }

    .cursos {
        padding-left: 25px;
    }

    .falam-sobre {
        grid-template-columns: auto auto;
    }

    .blog {
        grid-template-columns: auto;
    }

    #ver-posts {
        margin-left: 20%;
    }

/* ------ Footer usar em todas as paginas ------ */
    .container-footer {
        grid-template-areas:
            'logo curso'
            'btn btn';
    }
/* ------ Footer usar em todas as paginas ------ */
}