@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body{
    font-size: 100%;
    color:#E5E5E5;
}

  /* header */
.header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 1440px;
    height: 117px;
    left: 0px;
    top: 0px;
    background: #2E948A;
    box-shadow: 0px 3px 7px rgba(0, 0, 0, 0.25);
}

/* logo */
.dindin{
    position: absolute;
    width: 244px;
    height: 77px;
    left: 82px;
    top: 20px;
    
}

/* menu */
.menu{
    display: flex;
    gap: 32px;
    position: absolute;
    width: 309px;
    height: 23px;
    left: 1028px;
    top: 47px;
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    text-transform: uppercase;
}

/* contato */
.contato{
font-family: 'Ubuntu';
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 23px;
text-transform: uppercase;
color: #FDFDFD;

}

/* blog */
.blog{
font-family: 'Ubuntu';
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 23px;
text-transform: uppercase;
color: #FDFDFD;
}

/* contato */
.cursos{
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    text-transform: uppercase;
    color: #FDFDFD;
}

/* Banner */
.sessao1{
    position: absolute;
    width: 488px;
    height: 386px;
    left: 206px;
    top: 242px;
    background: #;
}

.ilustra-banner{
    position: absolute;
}

.Educação-Fianceira-é-tudo-de-bom{
    position: absolute;
    width: 488px;
    height: 216px;
    left: 206px;
    top: 242px;
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 700;
    font-size: 60px;
    line-height: 69px;
    color: #FF4081;
}

.Vem-comigo-que-te-mostro-por-onde-começar{
    position: absolute;
    width: 462px;
    height: 62px;
    left: 207px;
    top: 477px;
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    font-size: 27px;
    line-height: 31px;
    color: #555555; 
}

.quero-saber-mais{
    box-sizing: border-box;
    position: absolute;
    width: 268px;
    height: 51px;
    left: 207px;
    top: 577px;
    border: 2px solid #FF4081;
    border-radius: 62px;
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    font-size: 27px;
    line-height: 31px;
    color: #FF4081;
}

.sessao2{
    position: absolute;
    width: 1440px;
    height: 730px;
    left: 0px;
    top: 829px;
    background: #F7F7F7;
}

.imagem1{
    position: absolute;
left: 10.83%;
right: 69.17%;
top: 29.34%;
bottom: 62.21%;
}

.imagem2{
    position: absolute;
    left: 43.12%;
    right: 40.35%;
    top: 29.34%;
    bottom: 62.21%;
}

.imagem3{
    position: absolute;
    left: 74.03%;
    right: 12.99%;
    top: 29.34%;
    bottom: 62.21%;
}

.titulo1{
    position: absolute;
    width: 344px;
    height: 29px;
    left: 128px;
    top: 1253px;
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 29px;
    text-align: center;
    color: #FF4081;
}

.titulo2{
    position: absolute;
    width: 267px;
    height: 29px;
    left: 606px;
    top: 1251px;
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 29px;
    text-align: center;
    color: #FF4081;
}

.titulo3{
    position: absolute;
    width: 304px;
    height: 29px;
    left: 1007px;
    top: 1251px;
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 29px;
    text-align: center;
    color: #FF4081;
}

