* {
    font-family: 'Ubuntu', sans-serif;
    margin: auto;
}

/* ------------------------------ Header (copiar para todas as paginas) ------------------------------ */
.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    background: #2E948A;
    width: 100%;
    box-shadow: 0px 3px 7px rgba(0, 0, 0, 0.25);
}

.header a {
    text-decoration: none;
}

/* logo */
.dindin {
    width: 244px;
    height: 77px;
    margin-left: 82px;
    margin-top: 20px;
    margin-bottom: 26px;
    cursor: pointer;
}

/* curso blog contato */
.menu {
    display: grid;
    grid-template-columns: auto auto auto;
    margin: 0px;
}

.contato {
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    margin: 10px;
    text-transform: uppercase;
    color: #FDFDFD;
}

#contato-id {
    margin-right: 93px;
}

/* ------------------------------ Main ------------------------------ */
.intro {
    display: grid;
    grid-template-columns: auto auto;
    width: 1200px;
    margin-top: 50px;
}

#titulo {
    height: 108px;
    width: 461px;
    color: #009688;
    font-size: 47px;
    font-weight: 700;
    text-align: left;
    margin-bottom: 40px;
}

#texto {
    height: 110px;
    width: 461px;
    font-size: 20px;
    font-weight: 300;
    line-height: 23px;
    text-align: left;
    margin: 0%;
}

#imagem-intro {
    height: 405px;
    width: 405px;
    margin-bottom: 90px;
}

#background-posts {
    background-color: #E5E5E5;
    padding-top: 110px;
}

.posts-blog {
    display: grid;
    grid-template-columns: auto auto;
    width: 1200px;
}

.post {
    display: grid;
    grid-template-columns: auto;
}

.imagem-post {
    width: 450px;
    margin-bottom: 20px;
    cursor: pointer;
}

.titulo-post {
    height: 34px;
    width: 450px;
    color: #FF4081;
    font-size: 30px;
    font-weight: 500;
    line-height: 34px;
    text-align: left;
    margin-bottom: 20px;
}

.texto-post {
    width: 450px;
    font-size: 17px;
    font-weight: 300;
    line-height: 20px;
    text-align: left;
    margin-bottom: 100px;
}

/* ------------------------------ Footer (copiar para todas as paginas) ------------------------------ */
.logo {
    grid-area: logo;
}

.curso {
    grid-area: curso;
}

.btn {
    grid-area: btn;
}

.container-footer {
    display: grid;
    grid-template-areas: 'logo curso btn';
    background-color: #2E948A;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #FFff;
}

.btn-footer {
    box-sizing: border-box;
    width: 250px;
    height: 40px;
    border: 2px solid #FFff;
    border-radius: 62px;
    font-weight: 400;
    font-size: 19px;
    line-height: 31px;
    color: #FFff;
    background-color: #009688;
    margin-top: 10px;
    cursor: pointer;
}

@media only screen and (max-width: 850px) {
    .imagem-intro {
        display: none;
    }

    .posts-blog {
        grid-template-columns: auto;
        margin-left: -23%;
    }
}

@media only screen and (max-width: 480px) {
/* ------ Inicio header usar em todas as paginas ------ */
    .dindin {
        width: 200px;
        height: 70px;
    }

    .menu {
        grid-template-columns: auto;
    }

    .contato {
        margin: 3px;
        margin-left: 60px;
    }
/* ------ Fim header usar em todas as paginas ------ */

.conteudo-intro {
    margin-left: 2%;
}

#titulo {
    font-size: 25px;
    width: 300px;
    margin-bottom: 0px;
}

#texto {
    font-size: 15px;
    width: 300px;
}

.posts-blog {
    margin-left: -110%;
}

.imagem-post {
    width: 260px;
}

.titulo-post {
    width: 260px;
    margin-bottom: 50px;
}

.texto-post {
    width: 260px;
}



/* ------ Footer usar em todas as paginas ------ */
.container-footer {
    grid-template-areas:
        'logo curso'
        'btn btn';
}
/* ------ Footer usar em todas as paginas ------ */
}